@media (width >= 62rem) { /* above lg */

    header {
        position: fixed;
        width: 100%;
        top: 0;
    }

    header:not(.init) {
        .navbar {
            background-color: var(--transparent) !important;
        }
        .nav-item {
            &::after {
                bottom: -0.25em;
            }
        }
    }
}